@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212; /* Matches your Canva design */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}